<div id="new-release-banner" class="row">
    <p class="fine-print">Hi there!  Spee.ch is undergoing maintenance and some features may not function properly.  In the meantime, we would love to hear from you in our <a style="color:white; text-decoration: underline" target="_blank" href="https://discord.gg/YjYbwhS">discord</a> channel.</p>
</div>
